<h1 class="tituloPrincipal" *ngIf="!this.jogoIniciado">Campo minado</h1>
<app-configuracao *ngIf="!this.jogoIniciado" [configuracaoDeJogo]="this._gerenciadorDePartida.configuracaoDeJogo"
  (iniciarJogoEvent)="iniciarJogo()"></app-configuracao>
<app-tabuleiro *ngIf="this.jogoIniciado" [tabuleiro]="this._gerenciadorDePartida.getTabuleiro()"
  [tamanhoHorizontal]="((this._gerenciadorDePartida.configuracaoDeJogo.celulasNaHorizontal * 21) + 32)"
  [tamanhoVertical]="((this._gerenciadorDePartida.configuracaoDeJogo.celulasNaVertical * 21) + 32)">
</app-tabuleiro>
